h1{
    font-size: 40px;
}
h2 {
    font-size: 30px;
    text-decoration: underline;
}
h4 {
    font-size: 14px;
    text-decoration: underline;
}
.sess {
    font-size: 12px;
    padding: 9px;
    background-color: rgb(172, 182, 197);
}
#desc {
    font-size: 30px;
}
#textodesc {
    font-size: 20px;
}
#titlesession {
    background-color: rgb(172, 182, 197);
    font-size: 16px;
}
body { 
background-color: rgb(204, 214, 230);
color: rgb(35, 26, 71);
text-align: justify;
font-family: 'Merriweather', serif;
letter-spacing: -1px;
text-align: center;
}


#infos {
font-size: 30px;
text-decoration: underline;
}

#par1 {
font-size: 20px;
line-height: 50px;
}

.logos {
width: 15px;
}

#habil {
font-size: 30px;
text-decoration: underline;
}
#empat {
font-size: 30px;
line-height: 50px;

}
.outrashabil {
font-size: 22px;
line-height: 50px;

}
#eumsm {
border-radius: 50%;
}
#blog{
font-size: 20px;
}